<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/initialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Formulaire de Prédiction de la Perte de Clientèle</title>
</head>
<body>
    <div class="container">
        <header>Formulaire de Prédiction de la Perte de Clientèle</header>
        <div class="steps">
            <span class="circle active">1</span>
            <span class="circle">2</span>
            <span class="circle">3</span>
            <div class="progress-bar">
                <span class="indicator"></span>
            </div>
        </div>
        <form id="predictionForm" action="/" method="POST">
            <div class="form-section active" id="customerDetails">
                <header>Détails du Client</header>
                <div class="fields">
                    <div class="input-field">
                        <label for="seniorCitizen">Citoyen Senior</label>
                        <select id="seniorCitizen" name="seniorCitizen" required>
                            <option disabled selected>Sélectionner</option>
                            <option value=1>Oui</option>
                            <option value=0>Non</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="monthlyCharges">Charges Mensuelles</label>
                        <input type="number" id="monthlyCharges" name="monthlyCharges" step="0.01" placeholder="Entrer les charges mensuelles" required>
                    </div>
                    <div class="input-field">
                        <label for="totalCharges">Charges Totales</label>
                        <input id="totalCharges" type="number" name="totalCharges" step="0.01" placeholder="Entrer les charges totales" required>
                    </div>
                    <div class="input-field">
                        <label for="gender">Genre</label>
                        <select id="gender" name="gender" required>
                            <option disabled selected>Sélectionner le genre</option>
                            <option value="Male">Homme</option>
                            <option value="Female">Femme</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="partner">Partenaire</label>
                        <select id="partner" name="partner" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="dependents">Dépendants</label>
                        <select id="dependents" name="dependents" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="phoneService">Service Téléphonique</label>
                        <select id="phoneService" name="phoneService" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="multipleLines">Lignes Multiples</label>
                        <select id="multipleLines" name="multipleLines" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No phone service" hidden>Aucun service téléphonique</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-section" id="serviceDetails">
                <header>Détails du Service</header>
                <div class="fields">
                    <div class="input-field">
                        <label for="internetService">Service Internet</label>
                        <select id="internetService" name="internetService" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="DSL">DSL</option>
                            <option value="Fiber optic">Fibre optique</option>
                            <option value="No">Aucun</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="onlineSecurity">Sécurité en Ligne</label>
                        <select id="onlineSecurity" name="onlineSecurity" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="onlineBackup">Sauvegarde en Ligne</label>
                        <select id="onlineBackup" name="onlineBackup" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="deviceProtection">Protection des Appareils</label>
                        <select id="deviceProtection" name="deviceProtection" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="techSupport">Soutien Technique</label>
                        <select id="techSupport" name="techSupport" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="streamingTV">Télévision en Streaming</label>
                        <select id="streamingTV" name="streamingTV" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="streamingMovies">Films en Streaming</label>
                        <select id="streamingMovies" name="streamingMovies" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                            <option value="No internet service" hidden>Aucun service internet</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-section" id="contractDetails">
                <header>Détails du Contrat</header>
                <div class="fields">
                    <div class="input-field">
                        <label for="contract">Contrat</label>
                        <select id="contract" name="contract" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Month-to-month">Mois à mois</option>
                            <option value="One year">Un an</option>
                            <option value="Two year">Deux ans</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="paperlessBilling">Facturation Sans Papier</label>
                        <select id="paperlessBilling" name="paperlessBilling" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Yes">Oui</option>
                            <option value="No">Non</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="paymentMethod">Méthode de Paiement</label>
                        <select id="paymentMethod" name="paymentMethod" required>
                            <option disabled selected>Sélectionner</option>
                            <option value="Electronic check">Chèque électronique</option>
                            <option value="Mailed check">Chèque envoyé par la poste</option>
                            <option value="Bank transfer (automatic)">Virement bancaire (automatique)</option>
                            <option value="Credit card (automatic)">Carte de crédit (automatique)</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="tenure">Durée (mois)</label>
                        <input type="number" id="tenure" name="tenure" placeholder="Entrer la durée du contrat" required>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="prev" class="backBtn" disabled>Précédent</button>
                <button id="next">Suivant</button>
                <button type="submit" id="submitBtn" style="display: none;" >Prédire</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
